:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Open Sans', serif;
  --secondary-text-color: rgba(255, 255, 255, 1);
  --accent-text-color: rgba(216, 30, 5, 1);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
input {
  width: 100%;
}

body {
  font-family: var(--main-font-family);
  /* color: var(--primary-text-color); */
  /* background-color: #ffffff; */
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 430px;
  /* padding-left: 16px;
  padding-right: 16px; */
  margin-left: auto;
  margin-right: auto;
}

.logotype {
  width: 79px;
  height: 66px;
}

.mobile-menu-open-btn {
  width: 43px;
  height: 43px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 17px 37px 0 28px;
  margin-bottom: 44px;
}
.second {
  padding-left: 28px;
  padding-right: 28px;
}
.second_text {
  width: 374px;
  height: 140px;
  text-align: center;
  color: var(--accent-text-color);
  font-weight: 400;
  line-height: 1.2;
  font-size: 24px;
}
.third {
  padding: 53px 37px 54px 37px;
}
.form_section {
  padding: 0 38px 58px 38px;
}
.form_container {
  padding: 52px 27px 45px 27px;
  box-shadow: 0px 4px 19.3px 4px rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  width: 354px;
  height: 387px;
}
.form_section_input {
  display: block;
  width: 300px;
  height: 40px;
  padding: 11px 0 11px 11px;
  margin-bottom: 11px;
  border: transparent;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 1);
  font-family: var(--secondary-font-family);
}
.last_input {
  margin-bottom: 52px;
  padding-left: 11px;
}
.last_input::placeholder {
  text-align-last: left;
}
::placeholder {
  color: rgba(129, 129, 129, 1);
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}
.form_btn {
  width: 300px;
  height: 45px;
  background-color: rgba(216, 30, 5, 1);
  padding-top: 14px;
  padding-bottom: 13px;
  border: none;
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-family);
  font-size: 16px;
  margin-top: 52px;
}
.fifth {
  padding: 0px 27px 58px 28px;
}
.fifth_section_description {
  font-family: var(--secondary-font-family);
  color: rgba(194, 40, 33, 1);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.fifth_section_text {
  font-family: var(--secondary-font-family);
  color: rgba(14, 105, 175, 1);
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
.sixth {
  padding: 0 21px 45px 20px;
  text-align: center;
}
.sixth_section_title {
  font-weight: 400;
  font-size: 37px;
  line-height: 1.4;
  margin-bottom: 33px;
}
.sixth_section_icon {
  margin-bottom: 52px;
}
.sixth_section_icon_second {
  margin-bottom: 30px;
}
.sixth_section_icon_third {
  margin-bottom: 37px;
}
.sixth_section_description {
  font-size: 31px;
  line-height: 1.2;
  margin-bottom: 34.1px;
  color: rgba(0, 0, 0, 1);
}
.sixth_section_text {
  font-size: 20px;
  line-height: 1.1;
  color: rgba(36, 36, 36, 1);
  margin-bottom: 33px;
}
.sixth_section_btn {
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 360px;
  height: 52px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(210, 29, 5, 1);
  border: none;
  border-radius: 15px;
  color: var(--secondary-text-color);
  margin-bottom: 45px;
}
.last_btn {
  margin-bottom: 0px;
}
.seventh {
  position: relative;
  background: linear-gradient(rgba(216, 30, 5, 1), rgba(73, 9, 0, 1));
  width: 430px;
  height: 1914px;
  padding-top: 45px;
  /* padding-bottom: 40px; */
}
.seventh_section_img {
  position: relative;
  left: 69px;
  width: 297px;
  height: 297px;
}
.rectangle71,
.rectangle7 {
  position: absolute;
  top: 320px;
  left: 23px;
  width: 390px;
  height: 935.9px;
}

.seventh_text {
  position: relative;
  top: 25px;
  left: 56px;
  width: 322px;
  height: 881px;
  text-align: center;
  line-height: 1.1;
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary-text-color);
}
.seven_section_last_container {
  position: relative;
  top: 75px;
}
.seventh_section_title {
  margin-bottom: 19px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  color: var(--secondary-text-color);
}
.seventh_section_last_img {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 248px;
  margin-bottom: 42px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.seventh_section_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  border: transparent;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    #c91c04 0%,
    #d81e05 33.33%,
    #4b0900 66.67%,
    #4b0900 100%
  );
  color: var(--secondary-text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.btn_text_first {
  margin-right: 10px;
  font-size: 15px;
}
.btn_text_second {
  font-size: 20px;
}
.seventh_section_text_container {
  position: relative;
  text-align: center;
  font-family: 'Montseratt', sans-serif;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.seventh_section_description {
  line-height: 1.2;
  margin-bottom: 16px;
}
.seventh_section_dscr {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.last_section {
  padding-top: 29px;
  padding-bottom: 64px;
}
.last_section_description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  color: rgba(23, 23, 23, 1);
  text-align: center;
  margin-bottom: 41px;
}
.last_section_img {
  width: 390.96px;
  height: 93px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  padding-bottom: 43px;
}
.footer_text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-bottom: 27px;
}
.footer_logo {
  width: 131px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}

/* range */
.irs--round .irs-bar {
  background-color: var(--accent-text-color);
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 10px;
  background-color: var(--accent-text-color);
}
.irs--round .irs-handle {
  border: 4px solid var(--accent-text-color);
}
.irs--round .irs-min,
.irs--round .irs-max {
  font-size: 10px;
}
.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  border-top-color: var(--accent-text-color);
}
.irs--round.irs-with-grid {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
